{
  "parser": "babel-eslint",
  "extends": "@infinumjs/eslint-config-react",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": false,
    "jsx-a11y/anchor-is-valid": false,
    "react/button-has-type": false,
    "react/jsx-handler-names": false,
    "react/jsx-one-expression-per-line": false,
    "react/react-in-jsx-scope": false,
    "react/require-optimization": false
  }
}
